button[type="submit"] {
    float: right;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.clickable {
    cursor: pointer;
}

.right-span {
    border-left: solid 1px gray;
    padding: 0 5px;
}

.name-title {
    font-size: 30px;
    color: darkslategray;
}

.btn-right {
    float: right;
    margin-left: 5px;
}