{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header name-title">
        {{ record.first_name }} {{ record.last_name }}
        <span class="right-span">
            ID: {{ record.id }}
        </span>
    </div>
    <div class="card-body">
        <p class="card-text">
            <strong>Email: </strong>{{ record.email }}
        </p>
        <p class="card-text">
            <strong>Phone: </strong>{{ record.phone }}
        </p>
        <p class="card-text">
            <strong>Address: </strong>{{ record.address }}
        </p>
        <p class="card-text">
            <strong>Ciy: </strong>{{ record.city }}
        </p>
        <p class="card-text">
            <strong>State: </strong>{{ record.state }}
        </p>
        <p class="card-text">
            <strong>Zipcode: </strong>{{ record.zipcode }}
        <p class="card-text">
            <strong>Created At: </strong>{{ record.created_at }}
        </p>
    </div>
</div>

<br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'update' record.id %}" class="btn btn-primary btn-right">Update</a>
<a href="{% url 'delete' record.id %}" class="btn btn-danger btn-right">Delete</a>

{% endblock %}